.button-size{
    background-color: rgb(251, 251, 251);
    padding-top: 25px;
}

.button-592 {
    align-items: center;
    background-color: rgb(251, 251, 251);
    border: 2px solid #000;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    min-width: 200px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-592:focus {
    color: #171e29;
  }
  
  .button-592:hover {
    border-color: #A7117A;
    color: #A7117A;
    fill: #A7117A;
  }
  
  .button-592:active {
    border-color: #A7117A;
    color: #A7117A;
    fill: #A7117A;
  }
  
  @media (min-width: 10px) {
    .button-592 {
      min-width: 200px;
    }
  }